* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white !important;
    background-color:#0e0e0e !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.image>img {
    width: 6rem;
    border-radius: 4px;
}

.download{
    display: flex;
    gap: 20px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.name{
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    background-color: ;
    width: 90%;
    word-break: break-all;
    word-wrap: break-word;

}

.know-the-anime{
    font-size: 10px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background-color: ;
    color: #5b5b5b;
    width: 90%;
    word-break: break-all;
    word-wrap: break-word;
    height: 2rem;
    overflow: hidden;

}

.pg-quality{
    display: flex;
    gap: 10px;
    position: relative;
    top: 0.4rem;
}

.pg{
    font-size: 8px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    border: 1px solid #5b5b5b;
    border-radius: 4px;
    color: #5b5b5b;
    padding: 0 0.2rem;
}

.quality{
    font-size: 8px;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    background-color: #5b5b5b;
    border-radius: 4px;
    padding: 0 0.2rem;
    color: #0e0e0e;
}

.others-left{
    column-count: 2;
    font-size: 10px;
    position: relative;
    top: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    color: #5b5b5b;
}

.others-left span{
    color: #a885da;
}

.next-color{
    color: #aaaaaa !important;
}

.take-down{
    position: relative;
    top: 2rem;
}

.down-title{
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.card-look > img{
    width: 4rem;
    object-fit: cover;
}

.card1{
    display: flex;
    color: #aaaaaa;
    background-color: #1c1c1c ;
    width: 14rem;
}

.num{
    padding: 0.9rem 0.5rem;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #aaaaaa;
}

.card-more{
    font-size: 11px;
    position: relative;
    left: 0.9rem;
    top: 0.4rem;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: #777777;
}

.q-360{
    margin-bottom: 0.2rem;
}

.q-360 span{
    color: #ffffff;
    border: 1px solid #0e0e0e;
    padding: 0 0.2rem;
    border-radius: 4px;
    background-color: #5a2e98;
    font-size: 10px;
    font-weight: 400;
    position: relative;
    left: 0.5rem;
    cursor: pointer;
}

.q-360 span:hover{
    background-color: #7048a9;
}

.q-360 span > a{
    text-decoration: none;
    color: #ffffff;
}

.down-network{
    position: relative;
    top: 1rem;
    border-radius: 4px;
    overflow: hidden;
    width: 14rem;
}

.these-card{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    width: auto;
    flex-wrap: wrap;
}

.more{
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    color: #5a2e98;
}

@media screen and (max-width:491px){
    .down-network, .card1{
        width: 100%;
    }

    .name, .down-title{
        font-size: 15px;
    }

}